<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Product.Title}}</title>
  <link rel="stylesheet" href="/static/styles/heater.css">
</head>
<body>
  <!-- Хедер без корзины -->
  <header class="header">
    <div class="logo">
      <a href="/">
        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M21.79 55.4666L21.7879 35.8915L34.2624 35.8902L34.2644 55.4653L49.8574 55.4637L49.8547 29.3636L59.2105 29.3626L28.0214 0.00312496L-3.16159 29.369L6.19423 29.3681L6.19693 55.4682L21.79 55.4666Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="57.6862" height="57.6862" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </header>

  <!-- Контейнер продукта -->
  <div class="product-container">
    <div class="product-image">
      <img src="{{.Product.Image}}" alt="{{.Product.Title}}">
    </div>

    <div class="product-content">
      <div class="product-title">{{.Product.Title}}</div>

      <div class="spec-title">Описание</div>
      <div class="product-description">{{.Product.Description}}</div>

      <div class="spec-title">Технические характеристики</div>
      <div class="spec-text">{{.Product.Power}}</div>
    </div>
  </div>
</body>
</html>
