<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заявка</title>
  <link rel="stylesheet" href="/static/styles/zayavka.css">
</head>
<body>
  <!-- Хедер -->
  <header class="header">
    <div class="logo">
      <a href="/">
        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_7_68)">
            <path d="M21.79 55.4667L21.7879 35.8916L34.2624 35.8903L34.2644 55.4654L49.8574 55.4638L49.8547 29.3637L59.2105 29.3627L28.0214 0.00324703L-3.16159 29.3692L6.19423 29.3682L6.19693 55.4683L21.79 55.4667Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0_7_68">
              <rect width="57.6862" height="57.6862" fill="white" transform="translate(0 0.00598145)"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </header>

  <div class="page-container">
    <!-- Поля ввода -->
    <div class="input-container">
      <div class="input-block">
        <div class="input-label">Площадь помещения</div>
        <input type="text" class="input-field" placeholder="м²">
      </div>
      <div class="input-block">
        <div class="input-label">Температура за помещением</div>
        <input type="text" class="input-field" placeholder="°C">
      </div>
      <div class="input-block">
        <div class="input-label">Температура в помещении</div>
        <input type="text" class="input-field" placeholder="°C">
      </div>
    </div>

    <!-- Карточки -->
    <div class="cards-container">
      {{range .products}}
        <div class="card">
          <img src="{{.ImageURL}}" alt="{{.Title}}">
          <div class="card-text">
            <div class="card-title">{{.Title}}</div>
            <div class="title-line"></div>
            <div class="card-power">{{.Specs}}</div>
            <div class="card-info">
              <label>Объём носителя</label>
              <input type="text" class="card-input" placeholder="">
            </div>
            <div class="card-result">Результат:</div>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</body>
</html>
